<!DOCTYPE html>
<html>
<head>
	<title>Hello World!</title>
	<style>
		* {padding: 0px;
		margin: 0px;}
		main {
			font-size: 14vw;
			display: grid;
            height: 100vh;
            justify-content: center;
            align-content: center;
			background-color: <%= bg %>;
			color: <%= fg %>;
		}
	</style>
</head>
<body>
	<main>Hello World!</main>
</body>
</html>