<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        main {
            height: 100vh;
            width: 100vw;
            background-color: orange;
            display: flex;
            font-size: 10vw;
            justify-content: center;
            align-items: center;
        }

        main::after {
            content: attr(data-lastModified);
            color: red;
            font-family: 'Courier New', Courier, monospace;
            position: relative;
            content: attr(data-modified);
            top: 5vw;
            left: 5vh;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <main data-modified=""></main>
    <script>
        window.addEventListener('keypress', function (e) {
            document.getElementsByTagName("main")[0].innerHTML = e.code;
            document.getElementsByTagName("main")[0].dataset.modified = new Date().toDateString();
        });
    </script>
</body>

</html>