<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
	<h1>TODOs</h1>
	<div>
		<% input.forEach(function(w) { %>
		<div>
			<h3><%=w.name%></h3>
			<p><%=w.type%></p>
		</div>
		<% }) %>
	</div>
</body>
</html>
