<!DOCTYPE html>
<html>
    <head>
        <title>Valid pattern!</title>
        <style>
            body {
                display: grid;
                height: 100vh;
                justify-content: center;
                align-content: center;
                font-size: 3vw;
                color: gold;
                background-color: crimson;
            }

            .path {
                font-family: 'Courier New', Courier, monospace;
                background-color: gold;
                color:crimson;
            }
        </style>
    </head>
    <body>
        <h1>String pattern set:</h1>

        <h2><span class="path"><%= pattern %></span></h2>
    </body>
</html>