<!DOCTYPE html>
<html>
    <head>
        <title>Valid pattern!</title>
        <style>
            body {
                display: grid;
                height: 100vh;
                justify-content: center;
                align-content: center;
                font-size: 3vw;
                color: greenyellow;
                background-color: green;
            }

            .path {
                font-family: 'Courier New', Courier, monospace;
                background-color: greenyellow;
                color:green;
            }
        </style>
    </head>
    <body>
        <h1>It is a match!</h1>

        <h2>Pattern: <span class="path"><%= pattern %></span></h2>
        <h2>Path: <span class="path"><%= path %></span></h2>
    </body>
</html>